/* You can add global styles to this file, and also import other style files */
@import "~codemirror/lib/codemirror";
/* @import "~codemirror/theme/material"; */

.CodeMirror {
    width: 80vw;
    min-height: 80px;
    height: auto;
    overflow-y: auto;
}